@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: 'Roboto', -apple-system, system-ui, "BlinkMacSystemFont","Segoe UI", "Helvetica Neue", Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*styling the header*/
header {
    background-color: #1f2937;
    color: white;
    padding: 1em 5% 4em;
    min-height: 300px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links, .hero.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 2em;
}

header section {
    display: flex;
    gap: max(1%, 1em);
}

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .2em;
    width: 49.5%;
}

.hero .main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0;
}

.hero button {
    border: none;
    background-color: #3882f6;
    border-radius: .5em;
    font-size: 1em;
    color: white;
    padding: .5em 2em;
    align-self: flex-start;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 90%, 0.514);
    width: 49.5%;
}

/*styling the main section of the website*/
#top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-section h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.illustrations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.illustration-and-text {
    max-width: 120px;
}

.fake-illustration {
    min-height: 150px;
    max-width: 120px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

#middle-section {
    background-color: #e5e7eb;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

q {
    max-width: 550px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

/*removing the default quotes that the q element has*/
q::before, q::after {
    content: none;
}

#middle-section p {
    align-self: flex-end;
    font-size: 18px;
}