@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: 'Roboto', -apple-system, system-ui, "BlinkMacSystemFont","Segoe UI", "Helvetica Neue", Arial, sans-serif;
    min-height: 100vh;
    margin: 0;   
}